extends /layouts/app

block scripts
    script(src=url('/js/utils/guid.js'))
    script(src=url('/js/jornadas/resultados.js'))

block title
    title= jornada.nombre + " - Resultados"
    
block content
    input(type="hidden" id="_id_jornada" name="_id_jornada" value=jornada.id)
    div#dialog_eliminar(title="Eliminar")
        input#id_eliminar(type="hidden")
        input#cont_eliminar(type="hidden")
        p ¿Estás seguro que deseas eliminar el partido?
    div.banner.row
        img.banner_img(src=jornada.liga.imagen)
        div.banner_mask
        h1.banner_title.white-color-text.center= jornada.nombre
    div.container
        br
        div.row
            h5.ten.columns Del 
                b= jornada.fecha_inicio.format("d/m/Y") 
                |   al  
                b= jornada.fecha_fin.format("d/m/Y")
            a.two.columns.center(href=url('/jornadas/editar/' + jornada.id)) Editar datos de la jornada
        br
        if today.gt(jornada.fecha_inicio) && today.lt(jornada.fecha_fin)
            div.warning-block Esta jornada ya se está jugando, agregar o eliminar partidos podría afectar los resultados de los participantes ya capturados.
        else if today.gt(jornada.fecha_fin)
            div.warning-block Esta jornada ya se jugó, agregar o eliminar partidos podría alterar los resultados de los participantes.
        br
        div.row
            include /jornadas/lista_partidos