
div.dragscroll
    table#example.twelve.columns
        thead
            tr
                th.center( style='min-width: 35px')
                    div(style="height:84px!Important; font-size: 10pt") Jugador
                each partido in jornada.partidos
                    th.center(style="min-width: 70px")
                        img(src= partido.equipoLocal.imagen height="40")
                        span vs
                        img(src= partido.equipoVisita.imagen height="40")
        tbody
            each participacion in quiniela.participacions
                tr 
                    td.hideextra(style="overflow-x: hidden;")
                        img(src=participacion.usuario.avatar height="40" width="35") 
                        p(style="font-size: 10pt")=participacion.usuario.nombre
                    - x = false;
                    each partido in jornada.partidos
                        each part in jornada.participacionesJornada
                            if part.id_participacion == participacion.id
                                each pronostico in part.pronosticos
                                    if pronostico.id_partido == partido.id
                                        - x = true; 
                                        if quiniela.permitir_marcador
                                            if (pronostico.id_equipo_ganador == partido.resultado.id_equipo_ganador) || (pronostico.id_equipo_ganador[1] == "id_equipo_ganador" && partido.resultado.id_equipo_ganador[1] == "id_equipo_ganador")
                                                if (pronostico.resultado_local == partido.resultado.resultado_local)&&(pronostico.resultado_visita == partido.resultado.resultado_visita)
                                                    td.center.success-background= pronostico.resultado_local + "-" + pronostico.resultado_visita
                                                else 
                                                    td.center.success-extra-text= pronostico.resultado_local + "-" + pronostico.resultado_visita

                                            else 
                                                if pronostico.partido.resultado[1] != "resultado"                                                   
                                                    td.center.grey-color-text= pronostico.resultado_local + "-" + pronostico.resultado_visita
                                                else
                                                    td.center= pronostico.resultado_local + "-" + pronostico.resultado_visita
                                        
                                        else if (pronostico.id_equipo_ganador == partido.resultado.id_equipo_ganador)||((pronostico.id_equipo_ganador[1] == "id_equipo_ganador") && (partido.resultado.id_equipo_ganador[1] == "id_equipo_ganador"))
                                            td.center.success-background.center
                                                if pronostico.id_equipo_ganador[1] != "id_equipo_ganador" 
                                                    img(src= pronostico.equipoGanador.imagen height="50")
                                                else 
                                                    span E
                                                    
                                        else
                                            td.center
                                                if pronostico.id_equipo_ganador[1] != "id_equipo_ganador" 
                                                    img(src= pronostico.equipoGanador.imagen height="50")
                                                else 
                                                    span E
        
                        if !x 
                            td.center 