if participacion_jornada
    div(style="overflow-x: auto;")
        table.twelve.columns
            thead
                tr
                    th
                    th.center(style="min-width: 100px") Jugador
                    each partido in participacion_jornada.jornada.partidos
                        th.center(style="min-width: 100px")
                            img(src=  partido.equipoLocal.imagen height="50")
                            span vs
                            img(src= partido.equipoVisita.imagen height="50")
            tbody
                each participacion in quiniela.participacions
                    tr 
                        td 
                            img(src=participacion.usuario.avatar height="50")
                        td.hideextra(style="overflow-x: hidden;")= participacion.usuario.nombre  
                        - x = false;
                        each partido in participacion_jornada.jornada.partidos
                            
                            each part in participacion_jornada.jornada.participacionesJornada
                                if part.id_participacion == participacion.id
                                    each pronostico in part.pronosticos
                                        if pronostico.id_partido == partido.id
                                            - x = true; 
                                            if quiniela.permitir_marcador
                                                if pronostico.id_equipo_ganador == partido.resultado.id_equipo_ganador || (pronostico.id_equipo_ganador[1] == "id_equipo_ganador" && partido.resultado.id_equipo_ganador[1] == "id_equipo_ganador")
                                                    if pronostico.resultado_local == partido.resultado.resultado_local &&pronostico.resultado_visita == partido.resultado.resultado_visita
                                                        td.center.success-background= pronostico.resultado_local + "-" + pronostico.resultado_visita
                                                    else 
                                                        td.center.success-extra-text= pronostico.resultado_local + "-" + pronostico.resultado_visita

                                                else 
                                                    if pronostico.partido.resultado[1] != "resultado"                                                   
                                                        td.center.grey-color-text= pronostico.resultado_local + "-" + pronostico.resultado_visita
                                                    else
                                                        td.center= pronostico.resultado_local + "-" + pronostico.resultado_visita
                                            else if pronostico.id_equipo_ganador == partido.resultado.id_equipo_ganador ||  (pronostico.id_equipo_ganador[1] == "id_equipo_ganador" && partido.resultado.id_equipo_ganador[1] == "id_equipo_ganador")
                                                td.center.success-background.center
                                                    if pronostico.id_equipo_ganador[1] != "id_equipo_ganador" 
                                                        img(src= pronostico.equipoGanador.imagen height="50")
                                                    else 
                                                        span E
                                                        
                                            else
                                                td.center
                                                    if pronostico.id_equipo_ganador[1] != "id_equipo_ganador" 
                                                        img(src= pronostico.equipoGanador.imagen height="50")
                                                    else 
                                                        span E
            
                            if !x 
                                td.center 

else
    h6 No es posible ver los resultados de esta jornada al no haber enviado tu quiniela.