extends /layouts/app

block scripts
    script(src=url('/js/ligas/editar.js'))

block title
    title= liga.nombre
    
block content
    input(type="hidden" id="_id_liga" name="_id_liga" value=liga.id)
    div.banner.row
        img.banner_img(src=liga.imagen)
        div.banner_mask
        h1.banner_title.white-color-text.center= liga.nombre
    div.container.white-background

        div.row
            a.two.columns.offset-by-ten.center.logout(href=url('/ligas/detalle/' + liga.id)) Editar Datos
        ul.breadcrumb
            li 
                a(href=url('/')) Inicio
            li
                a(href=url('/ligas/')) Ligas
            li
                a.active(href=url('/ligas/editar' + liga.id))= liga.nombre
        br
        div.row
            div.four.columns.center 
                h4 Equipos
                if count(liga.equipos) == 0
                    h6 No hay equipos registrados
                else
                    table.ten.columns.offset-by-one
                        thead
                            tr
                                th 
                                th Nombre
                        tbody
                            
                            each equipo in liga.equipos
                                tr
                                    td
                                        img(src=url("storage/" + equipo.imagen) height="50")
                                    td
                                        a(href=url('/equipos/editar/' + equipo.id))= equipo.siglas
                button.primary-color-background(onclick="location.href='"+ url('/equipos/nuevo?id_liga=' + liga.id) +"'") Agregar equipo
                div.space
                
            div.four.columns.center
                div.row
                    h4 Próxima jornada
                    if count(liga.proximaJornada.partidos) == 0
                        h6 No hay jornadas registradas
                    else
                        table.ten.columns.offset-by-one
                            thead
                                tr
                                    th.center(colspan=3)= liga.proximaJornada.nombre
                            tbody
                                each partido in liga.proximaJornada.partidos
                                    tr
                                        td.center
                                            img(src=url('/storage/' +partido.equipoLocal.imagen) height="50")
                                        td.center vs
                                        td.center
                                            img(src=url('/storage/' +partido.equipoVisita.imagen) height="50")
                        if liga.proximaJornada != null
                            button.ten.columns.offset-by-one.primary-color-background(onclick="location.href='"+ url('/jornadas/editar/partidos/' + liga.proximaJornada.id) +"'")
                                | Editar partidos
                br
                div.row
                    h4 Última jornada
                    if count(liga.ultimaJornada.partidos) == 0
                        h6 No hay jornadas registradas
                    else
                        table.ten.columns.offset-by-one
                            thead
                                tr
                                    th.center(colspan="3")= liga.ultimaJornada.nombre
                            tbody
                                each partido in liga.ultimaJornada.partidos
                                    tr
                                        td.center
                                            img(src=url('/storage/' + partido.equipoLocal.imagen) height="50")
                                        if liga.ultimaJornada.registrada
                                            td.center 
                                               | #{partido.resultados.first().resultado_local} - #{partido.resultados.first().resultado_visita}
                                        else
                                            td.center vs
                                        td.center
                                            img(src=url('/storage/' + partido.equipoVisita.imagen) height="50")
                        
                    if liga.ultimaJornada != null
                        button.ten.columns.offset-by-one.primary-color-background(onclick="location.href='"+ url('/jornadas/editar/resultados/' + liga.ultimaJornada.id) +"'")
                            | Actualizar resultados
                    div.space
            div.four.columns.center 
                h4 Jornadas
                if count(liga.jornadas) == 0
                    h6 No hay jornadas registradas
                else
                    table.ten.columns.offset-by-one
                        thead
                            tr
                                th Nombre
                                th 
                        tbody
                            each jornada in liga.jornadas
                                if jornada.registrada
                                    tr
                                        td.success-text= jornada.nombre
                                        td
                                            a(href=url('/jornadas/editar/resultados/' + jornada.id)) Resultados
                                else if jornada.fecha_fin.isPast()
                                    tr
                                        td.warning-text= jornada.nombre
                                        td
                                            a(href=url('/jornadas/editar/resultados/' + jornada.id)) Resultados
                                else 
                                    tr
                                        td= jornada.nombre
                                        td
                                            a(href=url('/jornadas/editar/partidos/' + jornada.id)) Editar
                                

                button.ten.columns.offset-by-one.primary-color-background(onclick="location.href='"+ url('/jornadas/nuevo?id_liga=' + liga.id) +"'") Agregar jornada
                div.space
                
            
