extends /layouts/app

block scripts
    script(src=url('/js/utils/guid.js'))
    script(src=url('/js/quinielas/contestar_regular.js'))

block title
    title= jornada.nombre + " - " + jornada.liga.nombre
    
block content
    input(type="hidden" id="_id_jornada" name="_id_jornada" value=jornada.id)
    input(type="hidden" id="tipo_quiniela" value= quiniela.tipoQuiniela.nombre)
    input(type="hidden" id="permitir_marcador" value= quiniela.permitir_marcador)
   
    div.container.white-background
        include /quinielas/banner
        ul.breadcrumb
            li 
                a(href=url('/')) Inicio
            
        br
        if !participacion_jornada.registrada && today.gt(jornada.fecha_inicio) && today.lt(jornada.fecha_fin)
            div.warning-block Esta jornada ya comenz贸, es posible que ya no puedas contestar algunos partidos.
        br
        div#error_placement.error-block Esta jornada ya comenz贸, es posible que ya no puedas contestar algunos partidos.
        br
        div.row
            if !participacion_jornada || !participacion_jornada.registrada 
                if today.gt(jornada.fecha_fin)
                    h5.center Esta jornada ya termin贸, prueba tu suerte enviando el pron贸stico de la 
                        if jornada.liga.proximaJornada[1] != "proximaJornada"
                            a(href=url('/quinielas/contestar/' +jornada.liga.proximaJornada.id+ '/' + quiniela.id + '/')) siguiente jornada
                        else
                            | &nbsp siguiente jornada
                            |, o bien regresa a la pantalla de 
                            a(href=url('/')) inicio
                            |.
                    .space
                else
                    if quiniela.tipoQuiniela.nombre == "Survivor"
                        h5 Elige a un equipo de los participantes para contestar esta jornada. Suerte.
                    else if !quiniela.permitir_marcador
                        h5 Elige a tu equipo favorito de cada partido. Suerte.
                    else
                        h5 Introduce los marcadores de cada partido para ganar. Suerte.
                    include /quinielas/contestar_lista_partidos
            else
                include /quinielas/participacion_registrada