extends /layouts/app

block scripts
    script(src= url('/js/quinielas/editar.js'))
    script(src= url('https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js'))
    script(src= url('https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js'))
    script(src= url('/plugins/bootstrap/js/bootstrap.min.js'))

block styles
    link(rel="stylesheet" href=url('https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css'))
    link(rel="stylesheet" href=url('https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css'))

block title
    title= quiniela.nombre
    
block content
    input(type="hidden" id="_id_quiniela" name="_id_quiniela" value=quiniela.id)
    input(type="hidden" id="_token" name="_token" value=csrf_token())
   
    div.container.white-background
        include /quinielas/banner
        div.row
        
            a.two.columns.offset-by-ten.center.error#eliminar_quiniela(data-id=quiniela.id) Eliminar
            form(action=url('/quinielas/eliminar') id="form_eliminar" method="post")
                input(type="hidden" name="_token" value=csrf_token())
                input(type="hidden" name="id" value=quiniela.id)
        ul.breadcrumb
            li 
                a(href=url('/')) Inicio
            li
                a(href=url('/quinielas/')) Quinielas
            li
                a.active(href=url('/quinielas/editar/' + quiniela.id))= quiniela.nombre
    
        div#dialog_eliminar(title="¿Eliminar?")
            p ¿Estás seguro que deseas eliminar la quiniela #{quiniela.nombre}?

        div#dialog_eliminar_participacion(title="¿Eliminar?")
            p#usuario_eliminar 

        form(action=url('/quinielas/eliminar_participacion') id="form_eliminar_participacion" method="post")
            input(type="hidden" name="_token" value=csrf_token())
            input(type="hidden" name="id_participacion" id="id_participacion")
    
        br
        div.row
            div.six.columns.center 
                form(action=url('/quinielas/actualizar') id="form_actualizar" enctype="multipart/form-data" method="post")
                    input(type="hidden" name="_token" value=csrf_token())
                    input(type="hidden" name="id_quiniela" value=quiniela.id)
                    h4 Cambiar imagen
                    input(type="file" name="imagen" id="imagen")
                form(action=url('/quinielas/actualizarbolsa') id="form_actualizar_bolsa" method="post")
                    h4 Bolsa
                    input(type="hidden" name="_token" value=csrf_token())
                    input(type="hidden" name="id_quiniela" value=quiniela.id)
                    each bolsa, key in quiniela.bolsas
                        input(type="hidden" name="id_bolsa[]" value=bolsa.id)
                        label(for="bolsa#{key + 1}") Premio ##{key + 1}
                        input.ten.columns.offset-by-one.center(type="number" placeholder="$" id="bolsa#{key + 1}" name="cantidad[]" value=bolsa.cantidad)
                    div.small-space
                    button.ten.columns.offset-by-one.primary-btn(type="submit")
                            | Actualizar 
                div.space
            
                h4 Reglas
                button.ten.columns.offset-by-one.primary-btn(onclick="location.href='"+ url('/quinielas/reglas/editar/' + quiniela.id) + "'") Actualizar reglas
                .space 
                
                h4 Participantes
                if count(quiniela.participacions) == 0
                    h6 No hay participantes registrados
                else
                    if quiniela.tipoQuiniela.nombre != "Survivor"
                        table.ten.columns.offset-by-one
                            thead
                                tr
                                    th #
                                    th Nombre
                                    th Pts.
                                    th &times;
                            tbody
                                each p, key in quiniela.participacions
                                    tr
                                        td.startd= key + 1
                                        td= p.usuario.nombre
                                        td= p.puntuacion
                                        td
                                            span.eliminar_participacion.grey-color-text.span-button(data-id_participacion= p.id, data-nombre= p.usuario.nombre) &times;

                    else
                        table.ten.columns.offset-by-one
                            thead
                                tr
                                    th.startd.center Act
                                    th.center Nombre
                                    th.center Ult.
                                    th.center R
                                    th.center &times;
                            tbody
                                each p, key in quiniela.participacionesSurvivor
                                    tr
                                        td.startd.center
                                            if p.activo
                                                img(src=url('img/success.png') height="18")
                                            else
                                                img(src=url('img/cancel.png') height="18")
                                        td= p.usuario.nombre 
                                            if p.no_reponches > 0
                                                span= " (R" + p.no_reponches + ")"
                                        td.center
                                            if p.ultimoPronostico.id_equipo_ganador
                                                img(src= p.ultimoPronostico.equipoGanador.imagen height=50)
                                            else
                                                span N/J
                                        td.center
                                            if !p.activo
                                                if p.no_reponches < p.quiniela.cantidad_reponches && count(quiniela.liga.jornadas) >= 1 && p.ultimoPronostico[1] != "ultimoPronostico"
                                                    a(href=url('/quinielas/reponche/'+p.id + '/' + quiniela.liga.ultimaJornada.id))
                                                        img.icon-button(src=url('/img/restore.png') style="padding:15px" height="18" alt="Reponche")
                                        td
                                            span.eliminar_participacion.grey-color-text.span-button(data-id_participacion= p.id, style="padding:15px", data-nombre= p.usuario.nombre) &times;
        
                                                     
                                                            
                h6 Agregar participante
                div.ui-widget
                    input.ten.columns.offset-by-one(type="text" placeholder="Introduzca el nombre " id="id_usuario_autocomplete" name="id_usuario_autocomplete")
                .small-space
                table#tabla_participantes.ten.columns.offset-by-one

                form(action=url('/quinielas/agregarparticipante') method="post" id="form_agregar_participante")
                    input(type="hidden" name="_token" value=csrf_token())
                    input(type="hidden" id="participantes" name="participantes" value="[]")
                    input(type="hidden" name="id_quiniela" value=quiniela.id)
                    button.ten.columns.offset-by-one.primary-btn(type="submit")
                        | Agregar participantes
                div.space

                
            div.six.columns.center
                div.row
                    h4 Próxima jornada
                    if count(quiniela.liga.proximaJornada.partidos) == 0
                        h6 No hay jornadas registradas
                    else
                        table.ten.columns.offset-by-one
                            thead
                                tr
                                    th.center(colspan=3)= quiniela.liga.proximaJornada.nombre
                            tbody
                                each partido in quiniela.liga.proximaJornada.partidos
                                    tr
                                        td.center
                                            img(src=partido.equipoLocal.imagen height="50")
                                        td.center vs
                                        td.center
                                            img(src=partido.equipoVisita.imagen height="50")
                        if quiniela.liga.proximaJornada != null
                            button.ten.columns.offset-by-one.primary-btn(onclick="location.href='"+ url('/jornadas/editar/partidos/' + quiniela.liga.proximaJornada.id) +"?from=" + quiniela.id + "'")
                                | Editar partidos
                br
                div.row
                    h4 Última jornada
                    if count(quiniela.liga.ultimaJornada.partidos) == 0
                        h6 No hay jornadas registradas
                    else
                        table.ten.columns.offset-by-one
                            thead
                                tr
                                    th.center(colspan="3")= quiniela.liga.ultimaJornada.nombre
                            tbody
                                each partido in quiniela.liga.ultimaJornada.partidos
                                    tr
                                        td.center
                                            img(src=partido.equipoLocal.imagen height="50")
                                        if quiniela.liga.ultimaJornada.registrada
                                            td.center 
                                               | #{partido.resultado.resultado_local} - #{partido.resultado.resultado_visita}
                                        else
                                            td.center vs
                                        td.center
                                            img(src=partido.equipoVisita.imagen height="50")
                        
                    if quiniela.liga.ultimaJornada[1] != "ultimaJornada"
                        button.ten.columns.offset-by-one.primary-btn(onclick="location.href='"+ url('/jornadas/editar/resultados/' + quiniela.liga.ultimaJornada.id) +"?from=" + quiniela.id + "'")
                            | Actualizar resultados
                div.space 
            br
        if count(quiniela.participacions) > 0 && count(quiniela.liga.jornadas) > 0
            div.row
                if quiniela.tipoQuiniela.nombre != "Survivor"
                    .twelve.colums.white-background
                        h4 Resultados por jornada
                        ul.menu
                            each jornada in quiniela.liga.jornadas
                                if quiniela.liga.proximaJornada.id == jornada.id || quiniela.liga.jornadaActual.id == jornada.id 
                                    li.item-jornada.selected(data-id= jornada.id)
                                        a= jornada.nombre
                                else 
                                    li.item-jornada(data-id= jornada.id)
                                        a= jornada.nombre
                        div#datos_jornada
                            - jornada = quiniela.liga.ultimaJornada[1] != "ultimaJornada" ? quiniela.liga.ultimaJornada: quiniela.liga.proximaJornada
                            include /quinielas/items/datos_jornada_admin
                else
                    .twelve.columns.white-background
                        h4 Seguimiento Survivor
                        div#datos_survivor
                            include /quinielas/items/datos_survivor
                    