extends /layouts/app

block scripts
    script(src= url('/js/quinielas/info.js'))

block title
    title= quiniela.nombre
    
block content
    input(type="hidden" id="_token" name="_token" value=csrf_token())
    input(type="hidden" id="_id_quiniela" name="_id_quiniela" value=quiniela.id)
    input(type="hidden" id="_id_participacion" name="_id_participacion" value=participacion.id)
    input(type="hidden" id="_url" name="_url" value=url('/'))
    
    div.container.white-background
        include /quinielas/banner
        ul.breadcrumb
            li 
                a(href=url('/')) Inicio
            li
                a.active(href=url('/quinielas/editar/' + quiniela.id))= quiniela.nombre
        br
        
        div.row
            .twelve.columns.orange-background
                .row
                    if quiniela.tipoQuiniela.nombre != "Survivor"
                        h1.five.columns.offset-by-one.white-color-text.small-center= "#" + posicion + " " + usuario.nombre
                    else    
                        h1.five.columns.offset-by-one.white-color-text.small-center= usuario.nombre                        
                    
                    if quiniela.tipoQuiniela.nombre != "Survivor"
                        h1.five.columns.white-color-text.right.small-center= participacion.puntuacion + "pts."
                    else
                        h1.five.columns.white-color-text.right.small-center Activo
                            if participacion.no_reponches > 0
                                span= "(R" + participacion.no_reponches + ")"
        
        br 

        div.row
            .six.columns
                if quiniela.tipoQuiniela.nombre != "Survivor"
                    include /ligas/items/s1_all
                else
                    include /ligas/items/s1_all_survivor
            .six.columns
                include /ligas/items/bolsa
                if participacion.participacionProximaJornada[1] != "participacionProximaJornada"
                    include /ligas/items/proxima_jornada
                else if participacion.participacionJornadaActual[1] != "participacionJornadaActual"
                    include /ligas/items/jornada_actual
                else if participacion.participacionUltimaJornada[1] != "participacionUltimaJornada"
                    include /ligas/items/ultima_jornada


        br
        div.row
            if quiniela.tipoQuiniela.nombre != "Survivor"
                .twelve.colums.white-background
                    h4 Resultados por jornada
                    ul.menu
                        each jornada in quiniela.liga.jornadas
                            if quiniela.liga.ultimaJornada.id == jornada.id || quiniela.liga.jornadaActual.id == jornada.id 
                                li.item-jornada.selected(data-id= jornada.id)
                                    a= jornada.nombre
                            else 
                                li.item-jornada(data-id= jornada.id)
                                    a= jornada.nombre
                    div#datos_jornada
                        include /quinielas/items/datos_jornada
            else
                .twelve.columns.white-background
                    h4 Seguimiento Survivor
                    div#datos_survivor
                        include /quinielas/items/datos_survivor