extends /layouts/app

block scripts
    script(src= url('/js/quinielas/info.js'))

block title
    title= quiniela.nombre
    
block content
    input(type="hidden" id="_token" name="_token" value=csrf_token())
    input(type="hidden" id="_id_quiniela" name="_id_quiniela" value=quiniela.id)
    input(type="hidden" id="_id_participacion" name="_id_participacion" value=participacion.id)
    input(type="hidden" id="_url" name="_url" value=url('/'))
    div.banner.row
        img.banner_img(src=quiniela.imagen)
        div.banner_mask
        h1.banner_title.white-color-text.center= quiniela.nombre
    div.container.white-background
        ul.breadcrumb
            li 
                a(href=url('/')) Inicio
            li
                a.active(href=url('/quinielas/editar/' + quiniela.id))= quiniela.nombre
        br
        
        div.row
            .twelve.columns.orange-background
                .row
                    h1.five.columns.offset-by-one.white-color-text= "#" + posicion + " " + usuario.nombre
                    if quiniela.tipoQuiniela.nombre != "Survivor"
                        h1.five.columns.white-color-text.right= participacion.puntuacion + "pts."
                    else
                        h1.five.columns.white-color-text.right Activo
        
        br 

        div.row
            .six.columns
                if quiniela.tipoQuiniela.nombre != "Survivor"
                    include /ligas/items/s1_all
                else
                    include /ligas/items/s1_all_survivor
            .six.columns

                if participacion.participacionProximaJOrnada[1] != "participacionProximaJornada"
                    include /ligas/items/proxima_jornada
                else if participacion.participacionUltimaJornada[1] != "participacionUltimaJornada"
                    include /ligas/items/ultima_jornada

        br
        div.row
            .twelve.colums.white-background
                h4 Resultados por jornada
                
                ul.menu
                    each jornada in quiniela.liga.jornadas
                        if quiniela.liga.ultimaJornada.id == jornada.id
                            li.item-jornada.selected(data-id= jornada.id)
                                a= jornada.nombre
                        else 
                            li.item-jornada(data-id= jornada.id)
                                a= jornada.nombre
                div#datos_jornada
                    include /quinielas/items/datos_jornada