div.twelve.columns.white-background
    div
        h4.ten.columns.offset-by-one= quiniela.nombre + " - Posiciones"
    div.row
        if quiniela.participacions.count == 0
            h6 No hay participantes registrados
        else
            table.ten.columns.offset-by-one
                thead
                    tr
                        th.center A
                        th Nombre
                        th.center 
                        if (usuario.admin == 1)&&(!p.activo)
                            th.center R
                tbody
                    each p, key in quiniela.participacionesSurvivor
                        tr
                            td.startd.center
                                if p.activo
                                    img(src=url('img/success.png') height="18")
                                else
                                    img(src=url('img/cancel.png') height="18")
                            td= p.usuario.nombre
                                if p.no_reponches > 0
                                    span= " (R" + p.no_reponches + ")"
                            td.center
                                if p.ultimoPronostico.id_equipo_ganador
                                    img(src= p.ultimoPronostico.equipoGanador.imagen height="50")
                                else
                                    span N/J
                            if (usuario.admin == 1)&&(!p.activo) 
                                td.center
                                    if p.no_reponches < p.quiniela.cantidad_reponches
                                        form(action= url('/usuarios/reponche') method='post')
                                            input(type='hidden' name='id_participacion' value=p.id)
                                            button(type='submit') Reponchar
                                    else
                                        span Eliminado
