- quiniela = participacion.quiniela
div.twelve.columns.white-background
    div
        h4.ten.columns.offset-by-one= quiniela.nombre + " - Posiciones"
    div.row
        if count(quiniela.participacions) == 0
            h6 No hay participantes registrados
        else
            table.ten.columns.offset-by-one
                thead
                    tr
                        th Activo
                        th Nombre
                        th 
                tbody
                    each p, key in quiniela.participacionesSurvivor
                        if key < 10 || participacion.id == p.id
                            tr
                                td.center.startd
                                    if p.activo
                                        img(src=url('img/success.png') height="18")
                                    else
                                        img(src=url('img/cancel.png') height="18")
                                td= p.usuario.nombre
                                    if p.no_reponches > 0
                                        span= " (R" + p.no_reponches + ")"
                                td.center
                                    if p.ultimoPronostico.id_equipo_ganador !== null
                                        - url = url('/storage/' + p.ultimoPronostico.equipoGanador.imagen)
                                        img(src=url height="32")
                                    else
                                        span N/J
    .row
    button.ten.columns.offset-by-one.primary-color-background(onclick="location.href='"+ url('/quinielas/info/' + participacion.quiniela.id) +"'") Más información
