html
    head
        block title

        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href=(url('/css/libs/skeleton.css')) rel="stylesheet" type="text/css") 
        link(href=(url('/css/style.css')) rel="stylesheet" type="text/css") 
        link(href=(url('/css/libs/normalize.css')) rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet" href=url('/css/libs/chosen.css'))
        link(rel="stylesheet" href=url('/css/libs/imageselect.css'))
        block styles
        script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js")
        script(src=(url('/js/utils/jquery.validate.strings.js')))
        script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous")
        script(src="https://momentjs.com/downloads/moment-with-locales.js")
        script(src=url('/js/lib/chosen.jquery.js'))
        script(src=url('/js/lib/imageselect.jquery.js'))
        script(type="text/javascript", src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js")
        block scripts
    body
        include /layouts/bar
        input(type="hidden" id="_url" value=url('/'))
        block content