extends /layouts/app

block scripts
    script(src= url('/js/usuarios/detalle.js'))
block title
    if user != null
       title= user.nombre
    else
        title Nuevo User

block content
    br
    div.container.white-background
        ul.breadcrumb
            li 
                a(href=url('/')) Inicio
            li
                a(href=url('/usuarios/')) Usuarios
            li
                a.active(href=url('/usuarios/' + (user.id? "editar/" + user.id : "nuevo")))= (user.nombre? user.nombre: "Nuevo")
        div.row     
            a.two.columns.offset-by-ten.center.error#eliminar_usuario(data-id=user.id) Eliminar
            form(action=url('/usuarios/eliminar'), id="form_eliminar", method="post")
                input(type="hidden" name="_token" value=csrf_token())
                input(type="hidden" name="id" value=user.id)
            div#dialog_eliminar(title="¿Eliminar?")
                p ¿Estás seguro que deseas eliminar al usuario #{user.nombre}?
        br
        
        form#form_usuario(action=url('/usuarios/createorupdate'), method="POST")
            input(type="hidden" name="_token" value=csrf_token())
            input(type="hidden" id="id" name="id" value= user.id)
            div.row
                div.six.columns.offset-by-three.center
                    if user.avatar
                        img#img_avatar(src=  (user.avatar? user.avatar : old('avatar') )  height="300" width="300")
                    else
                        img#img_avatar
                    if usuario.admin
                        input.big-input.twelve.columns.center(type="text" name="nombre" id="nombre" placeholder="Nombre" value= (user.nombre? user.nombre : old('nombre')))
                    else
                        input.big-input.twelve.columns.center(readonly type="text" name="nombre" id="nombre" placeholder="Nombre" value= (user.nombre? user.nombre : old('nombre')))
            br
            br     
            div.row.oculto
                div.six.columns.offset-by-three
                    each error in errors.all()
                        span.error #{error}
                    //label(for="email") Email:
                            input.twelve.columns.center(type="email" name="email" id="email" placeholder="user@example.com" value= (user.email? user.email : old('email')))
                    //
                        if usuario.admin
                            label(for="email") Email:
                            input.twelve.columns.center(type="email" name="email" id="email" placeholder="user@example.com" value= (user.email? user.email : old('email')))
                        else
                            label.oculto(for="email") Email:
                            input.twelve.columns.center.oculto(readonly type="email" name="email" id="email" placeholder="user@example.com" value= (user.email? user.email : old('email')))
            br
            div.row
                div.six.columns.offset-by-three
                    label(for="codigo") Código:
                    if usuario.admin
                        input.twelve.columns.center(type="text" name="codigo" maxlength="9" id="codigo" value= (user.codigo? user.codigo : random))
                    else
                        input.twelve.columns.center(type="text" name="codigo" maxlength="9" id="codigo" value= (user.codigo? user.codigo : random))

            br
            div.row
                div.six.columns.offset-by-three.table-responsive
                    label Avatar:
                    table#avatars
                    input#avatar(type="hidden" name='avatar')

            br
            div.row
                div.six.columns.offset-by-three
                    button.primary-btn.twelve.columns(type="submit") Guardar
        
        if user
            include /usuarios/quinielas
